@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.gallerySection{
    background-color: #0e0a2b;
    font-family: 'Montserrat', sans-serif;
    padding: 4rem;
}

.galleryComp{
    background-color: white;
    border-radius: 20px;
}

.imageDivUpper{
    width: 200px;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;
}
.flexRow{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.flexRow div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.imageDivUpper img{
    width: 100%;
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.3s all ease-out;
}

.imageDivUpper img:hover{
    opacity: 1;
}

.eventName{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.eventDescription{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    
}

@media screen and (max-width: 800px) {
    .gallerySection{
        padding: 1rem;
    }
    .imageDivUpper{
        width: 100%;
       
    }
    
}