@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
.downloadsection{
     background-color: #0e0a2b;
     font-family: 'Montserrat', sans-serif;
    padding: 4rem;
    color: white;

}
.downloadtitle{
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 1px;    
}
.downloadButtonDiv{
    padding: 1rem;
}
.downloadButtonDiv button{
    padding: 10px 30px;
    background-color: #f7be1e;
    font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

